*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 
body{
    background-color: #030101;
    
}
.main{
    /* margin-left: 80px; */
    height:112vh;
    max-width: 100vw;
    margin: auto;
    background-image: url("/img/IN-en-20240603-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* object-fit: contain; */
    position: relative;
    top: 0;
    background-size: max(1300px, 100vw);
}  
.box-opacity{
    width: 100%;
    height: 112vh;
    margin: 0 auto;
    position: absolute;
    top: 0;
    opacity: 0.63;
    background-color: black;
}
nav{
    padding-top: 0px;
    position: relative;
    display: flex;
    height: 143px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    filter: brightness(0.87);
    z-index: 2;
    background: linear-gradient(#180505,#030101, transparent);
}
.navoptions .lang{
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    filter: brightness(1);
    z-index: 2;
    background-color: transparent;
    border-radius: 1px solid transparent;
}
.navoptions{
    background-color: transparent;
    opacity: 4.54;
}
#btn{
    margin-left: 15px;
    padding: 8px 17px 8px 17px;
    position: relative;
    font-size: 0.9rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* border-radius: unset; */
    border: unset;
    border-radius: 6px;
    filter: brightness(3);
    filter: opacity(10);
    z-index: 2;
    cursor: pointer;
    background-color: rgb(248, 29, 29);
}
.email-container{
    height: 80%;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    color: hsl(0, 0%, 100%);
    filter: brightness(1);
    /* font-size: 0.9rem; */
    font-family:  "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    gap: 15px;
    padding: 18px;
    text-align: center;
    
}
.email-container h1{
    font-size: 3.1rem;
    text-align: center;
    font-weight: 780;
}
.email-container span{
    padding-top: 16px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}
.email-container p{
    padding-top: 10px;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
}

.email-container .email .btn1{
    padding: 17px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 650;
    font-size: 1.47rem;
    color: rgba(255, 255, 255, 0.925);
    /* border-radius: unset; */
    border: unset;
    font-weight: 600;
    border-radius: 6px;
    filter: brightness(1);
    filter: opacity(10);
    margin: 10px;
    cursor: pointer;
    z-index: 2;
    background-color: rgb(229, 9, 20);
}
.email-container .email #search{
    margin-top: 8px;
    padding: 18px;
    font-family: "Nunito Sans", sans-serif;
    width: 25rem;
    color: white;
    filter: brightness(4);
    font-size: 1.08rem;
    opacity: 0.57;
    border-radius: 7px;
    background-color: black;
}
.line{
    width: 100vw;
    height: 0.6rem;
    background-color: rgb(35, 35, 35);
}

@media screen  and (max-width:1300px){
    .main{
        width: 100vw;
        height: 100vh;
        /* height:145vh; */
        margin: auto;
        position: relative;
        top: 0px;
    }
    .email-container{
    gap: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 130px;
    }
    .email-container .email #search{
        /* width: 80px; */
        margin-top: 0px;
        padding: 0px;
    }
    .first{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        /* max-width: 70vw; */
        position: relative;
        margin: auto;
        color: white;
        /* justify-content: center; */
        align-items: center;
        /* padding: auto; */
        font-family: "Nunito Sans", sans-serif;
    }
    .secimg img{
        width: 70px;
      
    
    }
}

.first{
    padding: 20px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    max-width: 70vw;
    position: relative;
    margin: auto;
    color: white;
    /* justify-content: center; */
    align-items: center;
    /* padding: auto; */
    font-family: "Nunito Sans", sans-serif;
    
}

.secimg{
    position: relative;
}
.secimg img{
    width: 570px;
    position: relative;
    z-index: 10;

}
.secimg video{
    position: absolute;
    top: 71px;
    right: 51px
}
.first > div :first-child{
    display: flex;
    flex-direction: column;
}
.first > div :first-child{
    font-size: 3rem;
    font-weight: 900;

}
.first  > div :nth-child(2){
    display: flex;
    flex-direction: column;
}
.first  > div :nth-child(2){
    font-size: 1.4rem;
    font-weight: 400;
}
.faq{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70vw;
    position: relative;
    margin: auto;
    color: white;
    /* justify-content: center; */
    align-items: center;
    /* padding: auto; */
    font-family: "Nunito Sans", sans-serif;

}
.faq > h1{
    font-size: 3rem;
    font-weight: 900;
}
.qus{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 80px;
    margin: 10px;
    background-color: rgb(45, 45, 45);
    font-size: 1.6rem;
    font-weight: 600;
}
.qus > span{
    padding-right: 10px;
    font-size: 2.7rem;
    font-weight: 600;
}
.faq .qus:hover{
    background-color: rgb(69, 69, 69);

}
.links{
    margin: 20px;
    position: relative;
    right: 150px;
    width: 50vw;
    margin-top:10px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 23px; */
    height: 50vh;
}
.links a{
    color: rgb(176, 172, 172);
    font-weight: 400;
    padding-right: 90px;

}
.link span a{
    position: relative;
    right: 28rem;
    color: rgb(148, 149, 150);
}
/* .right{
    position: absolute;
    right: 76em;
} */